# Media directory
media/
media/*
serviceAccountKey.json
*/serviceAccountKey.json
**/serviceAccountKey.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Firebase
serviceAccountKey.json

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.venv/
*.pyc
*.pyo
*.pyd
*.pyw
/venv
/data/regular
/data/video
/weights